.screenSimulator{
    width: 100%;
    height: 100%;
    position: relative;
  
    flex: 1;
    .hRuler {
        position: absolute;
        left: 30px;
        top: 0;
        width: calc(100% - 30px);
        height: 30px;
        z-index: 2;
    }

    .vRuler {
        position: absolute;
        top: 30px;
        left: 0;
        width: 30px;
        height: calc(100% - 30px);
        z-index: 2;
    }
    .ruler{
        width: 100%;
        height: 100%;
        padding-top: 30px;
        padding-left: 30px;
        position: absolute;
        z-index: 1;
        font-size: 12px;
        overflow: hidden;
        display: none;
       
    }
   
    .viewport{
        margin-top: 30px;
        margin-left: 30px;
        width: calc(100% - 30px);
        height: calc(100% - 30px);
        overflow: hidden;
        position: relative;
        // &::-webkit-scrollbar{
        //     display: none;
        // }
    }
    .viewportInner {
        width: 20000px;
        height: 20000px;
        position: absolute;
        left: -10000px;
        top: -10000px;
    }
    .screenWrapper {
       position: absolute;
      
    }
    
  
}