@import '../../theme.less';
.workbench {
    height: 100vh;
    
    .haderPanel{
        height: 36px;
        // border: 1px solid rgb(223, 223, 223);
        background-color: @main-color;
        border-bottom:  1px solid @main-border-color;
    }
    .bodyPanel{
        display: flex;
        height: calc(100vh - 64px);
        background-color: #181a24;;
    }
    
}